// FOOTER STYLES
.site-footer {
    background: #F3F3F3;
}
.footer-container {
    display: flex;
    padding-top: 54px;
    padding-bottom: 69px;
}
.footer-navbar {
    display: flex;
    align-items: center;
}
.foote-navbar__list {
    display: flex;
    align-items: center;
}
.footer-logo:hover {
    opacity: 0.6;
}
.footer-logo:active {
    opacity: 0.8;
}

// FOOTER STYLES

// FOOTER TEXT STYLES
.footer-text-1 {
    margin-right: 80px;
    margin-left: 47px;
}
.foote-navbar__link {
    @include textProp-1;
}
.foote-navbar__link--hover:hover{
    color: #FFBD54;
}

.footer-text-2 {
    margin-right: 137px;
}
.footer-text-3 {
    margin-right: 118px;
}
.footer-text-4 {
    margin-right: 92px;
}
.footer-text-5 {
    @include textProp-1;
    font-size: 14px;
    line-height: 18px;
}
// FOOTER TEXT STYLES


// MEDIA
@media only screen and (max-width:1000px) {
    .foote-navbar__list{
        flex-direction: column;
        justify-content:center;
        align-items: start;
        gap: 32px;
    }
    .footer-text-1{
        margin: 0;
    }
    .footer-text-2{
        margin: 0;
    }
    .footer-text-3{
        margin: 0;
    }
    .footer-text-4{
        margin: 0;
    }
    .footer-text-5{
        margin: 0;
    }
}
// MEDIA