
// QUOTE STYLES

.quote-section {
    padding-top: 90px;
    padding-bottom: 191px;
    background-image: url('../../img/quote/bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40px;
}
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text{
    width: 800px;
}

// QUOTE STYLES

// QUOTE TEXT STYLES
.quote {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #949494;
    margin-bottom: 70px;
}
.quote-author {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
// QUOTE TEXT STYLES

// MEDIA
@media only screen and (max-width:680px){
    .quote-text{
        width: auto;
    }
    .quote-section{
        background: url(../);
    }
}
// MEDIA