
// QUOTE STYLES

.quote-section {
    padding-top: 90px;
    padding-bottom: 191px;
    background-image: url('../../img/quote/bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 40px;
}
.quote-container {
    @include flexCol-center;
}

.quote-text{
    width: 800px;
}

// QUOTE STYLES

// QUOTE TEXT STYLES
.quote {
    @include textProp-2;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 70px;
}
.quote-author {
    @include textProp-1;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
// QUOTE TEXT STYLES

// MEDIA
@media only screen and (max-width:680px){
    .quote-text{
        width: auto;
    }
    .quote-section{
        background: url(../);
    }
}
// MEDIA